# IDE Configurations
.idea/

# Node.js Dependencies
node_modules/

# Build and Output Files
.next/
dist/
build/

# System Files
.DS_Store
Thumbs.db

# Environment Variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: Lock Files (if you don't want them in the repo)
package-lock.json
yarn.lock
